.chatbox{
    margin: 2% 2%;
    padding: 12px 50px;
    background-color: gold;
    border-radius: 18px;
    display: flex;

}

.chatbox strong{
    font-size: 22px;
}
.chatbox span{
    font-size: 22px;
}
.container{
    display: flex;
}
.me .chatbox{
    background-color: crimson;
    color: white;
}
.container.me{
    flex-direction: row-reverse;
}
.btn{
    position: fixed;
    bottom: 0;
    left: 0;
   width: 98%;
   display: flex;
}
.btn input{
   
 padding: 10px 14px;
    flex-grow: 1;
    font-size: 20px;
}
.btn button{
    padding: 10px 0;
    font-size: 24px;
    margin: 11px 3px;
    position: relative;
    top: 13px;
    padding: 1px 2px;
}
@media screen and (max-width:513px) {
    .btn button{
        padding: 10px 0;
        font-size: 24px;
        margin: -3px 3px;
        position: relative;
        top: 13px;
        padding: 1px 2px;
    }
}
.chatcontainer{
    height: 70vh;
    overflow-y: scroll;
    border: 1px solid black;
}
input{
    padding: 3px 4px;
    font-size: 20px;
    margin-top: 2%;
}
#btnw {
    padding: 6px 4px;
}
